<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dogdog.db.StoreBoardMapper">
	<insert id="insertBoard" parameterType="StoreBoardVO">
		insert into storeboard
		values(storeboard_num.nextval, #{store_name}, #{store_id}
			 , #{storeboard_title}, #{storeboard_content}, sysdate, #{storeboard_comment})
	</insert>
	
	<select id="selectBoard" resultType="StoreBoardVO">
		select * from storeboard
		where store_id=#{store_id}
	</select>
</mapper>