@charset "UTF-8";
#screen{
  /* 화면 전체 */
    position: static;
    width: 50%;
    margin-left: 22%;
    margin-right: auto;
}

/* 좌측 사진들 */
.images{
  margin-right: 4%;
}
.container{
    width: 50%;
    height: 22rem;
    border: 1px solid;
    overflow: hidden;
    position: relative;
}

#mainImg{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li{
    list-style-type: none;
  }
  
  /* 보여줄 구간의 높이와 넓이 설정 */
  #slideShow{
    width: 48%;
    height: 100px;
    position: relative;
    /* margin: 50px auto; */
    overflow: hidden;   
    /*리스트 형식으로 이미지를 일렬로 
    정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은
    hidden으로 숨겨줘야됨*/
  }
  
  
  .slides{
    position: absolute;
    left: 0;
    top: 0;
    width: 100rem; /* 슬라이드할 사진과 마진 총 넓이 */
    /* height: 10%; */
    transition: left 0.5s ease-out; 
    /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
  }

  .current-img{
    border: 2px ;
  }

  .slideImg{
    width: 5rem;
    /* border: 1px solid; */
  }
  
  /* 첫 번째 슬라이드 가운데에 정렬하기위해
  첫번째 슬라이드만 margin-left조정 */
  .slides li:first-child{
    margin-left: -1.5rem;
  }
  
  /* 슬라이드들 옆으로 정렬 */
  .slides li:not(:last-child){
    float: left;
    margin-right: 1.1rem;
  }
  
  .slides li{
    float: left;
  }
  
  .controller span{
    position:absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 0px;
    top: 26%;
    font-size: 1.3em;
    cursor: pointer;
  }
  
  /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
  .controller span:hover{
    background-color: rgba(128, 128, 128, 0.11);
  }
  
  .prev{
    left: 4%;
  }
  
  /* 이전 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
  /* .prev:hover{
    transform: translateX(-10px);
  } */
  
  .next{
    right: 0%;
  }
  
  /* 다음 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
  /* .next:hover{
    transform: translateX(10px);
  } */

  /* 우측 정보 */
  #title{
    position: absolute;
    width: 48%;
    top: 0%;
    right: 0%;
  }

  .storeAddr{
    margin-top: -1rem;
    color: rgb(83, 83, 83);
  }

  .ownerComment{
    width: 38%;
    background-color: aliceblue;
    padding: 2%;
  }

  .commentContent{
    color: rgb(83, 83, 83);
  }

/* 하부 메뉴 탭 */

/*tab css*/
body{
  /* margin-top: 100px; */
  /* font-family: 'Trebuchet MS', serif; */
  line-height: 1.6
}

.menuTab{
  position: relative;
  padding-top: 8%;
  width: 100%;
  margin: 0 auto;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li{
  background: none;
  color: lightgray;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current{
  color: #222;
  font-weight: bolder;
  font-size: larger;
}

ul.tabs hr{
  visibility: hidden;
}

ul.tabs hr.current-line{
  visibility: visible;
  background-color: blueviolet;
  height: 0.1rem;
  margin-top: 0.4rem;
}

#mid-line{
  margin-top: -1.3rem;
}

.tab-content{
  display: none;
  /* background: #ededed; */
  padding: 15px;
}

.tab-content.current{
  display: inherit;
}