@charset "UTF-8";
/* 닉네임 수정 버튼 */
@charset "UTF-8";

body {
  color: rgba(0, 0, 0, 0.87);
  background: rgb(253, 253, 253);


}



.nav {
  position: relative;
  display: flex;
  background-color: red;
}

.logo {

  margin-left: 50%;
  margin-top: 10px;

}

.nav-item {

  margin-left: 10px;
  margin-top: 20px;
  margin-right: 20px;

  text-decoration-line: none;
  color: black;

  flex-direction: row;

  justify-content: center;

  align-items: center;

  text-align: center;

  white-space: nowrap;

}

.nav-items {

  display: flex;
  margin-left: auto;
  margin-right: 400px;

  flex-direction: row;

  justify-content: center;

  align-items: center;

  text-align: center;

}



.outer {

  padding-top: 100px;

  height: 600px;
  width: 800px;
  margin: 0 auto;
  overflow-x: hidden;
}

.inner-list {
  display: flex;
  transition: .8s ease-out;
  height: 100%;
  height: 500px;
  width: 800px;
}

.inner {
  height: 500px;
  width: 800px;

}

.button-list {
  text-align: center;
}

.imgs {
  height: 500px;
  width: 800px;
}

a {
  color: black;
  text-decoration: none;
}

.dogdog {
  height: 50px;
}

.menu1 {
  color: black;
}

.dropdown {
  display: inline-block;

  flex-direction: row;

  justify-content: center;

  align-items: center;

  text-align: center;
}

.dropdown-btn {
  width: 100px;
  padding: 20px;
  font-size: 15px;
  color: black;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.dropdown-btn1 {
  width: 100px;
  padding: 20px;
  font-size: 15px;
  color: black;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.dropdown-submenu {
  width: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
  display: none;
}

.dropdown-submenu a {
  display: block;
  padding: 7px;
  text-align: center;
  color: black;
}

.dropdown-submenu a:hover {
  background-color: rgba(189, 228, 98, 0.3);
}

.dropdown:hover .dropdown-submenu {
  display: block;
  position: absolute;
}

/* 닉네임 css */
.nick_cor {
    margin-left: 20%;
    margin-top: 5%;
}

.pw_input__title {
    font-size: 18px;
    display: block;
}

/* 닉네임 표시 */
.title__uinfo {
    margin-left: 10%;
}

/* 닉네임 수정 버튼 */
#btns-wrap__edit-btn {
    width: 120px;
    height: 40px;
    background-color: white;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 5%;
}

/* 수정 버튼 클릭 시 나오는 전체 div */
#clicks {
    margin-top: 15px;
}

/* 수정 버튼 클릭 시 나오는 input text */
.teext {
    height: 40px;
    width: 320px;
}

/* 수정 완료 버튼 */
.btns-wrap__submit-btn {
    margin-top: 50px;
    width: 162px;
    height: 40px;
    background-color: #F05650;
    color: white;
    border: 1px solid ;
    border-radius: 5%;
    margin-left: 16%;
}

/* 수정 취소 버튼 */
.btns-wrap__cancel-btn {
    margin-top: 25px;
    width: 162px;
    height: 40px;
    background-color: #F05650;
    color: white;
    border: 1px solid ;
    border-radius: 5%;
}

/* 예약자 이름 css */
.reser_name {
    margin-left: 20%;
    margin-top: 5%;
}

/* 예약자 수정 버튼 */
#btns-wrap__edit-btn1 {
    width: 120px;
    height: 40px;
    background-color: white;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 5%;
}

#clicks1 {
    margin-top: 15px;
}

/* 연락처 css */
.phone_num {
    margin-left: 20%;
    margin-top: 5%;
}

/* 수정 버튼 */
#btns-wrap__edit-btn2 {
    width: 120px;
    height: 40px;
    background-color: white;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 5%;
}

#clicks2 {
    margin-top: 15px;
}

#cellPhone {
    height: 40px;
    width: 320px;
}

#allB {
    /* gg */
}