@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    /* 색 줄높이를 미리 잡고 시작한다 */
    font-family: 'Noto Sans KR', sans-serif;
    color : #222;
    /* background-image: url("white.png"), url("https://img1.daumcdn.net/thumb/R658x0.q70/?fname=https://t1.daumcdn.net/news/202302/08/bemypet/20230208182716232uvpm.jpg");
    background-size: 5000px 80px, cover;
    background-repeat: no-repeat; */
}
/* 보통 바디태그에 주고나서 a태그에 색상을 주는게 기본이다!!! (상속이 안되니까 별도로) */
a {
    color : black;
    text-decoration: none;
}
.dogdog{
    height: 50px;
}

.menu1 {
    color: black;
}


.texts5{
    position: absolute;
  top: 300px;
  right: 200px;
    color: black;
    
    }
.texts6{
    position: absolute;
    top: 350px;
    right: 200px;
    color: black;
    
}
.texts7{
    position: absolute;
    top: 400px;
    right: 200px;
    color: black;
    
}

.dropdown {
    /* 보더를 통해서 틀을 봐주는게 좋다 ! */
    /* border: 1px solid #000; */
    /* width: 200px; */
    display: inline-block;
}

.dropdown-btn {
    width: 100px;
    /* 패딩으로 크기 늘려주기 */
    padding : 20px;
    font-size: 15px;
    color: black;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.dropdown-btn1 {
    width: 100px;
    /* 패딩으로 크기 늘려주기 */
    padding : 20px;
    font-size: 15px;
    color: black;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.dropdown-submenu{
    /* border: 1px solid #000; */
    width:100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
    display: none;
}

.dropdown-submenu a {
    display: block;
    padding: 7px;
    text-align: center;
    color: white;
}
div.wrap{
    position: relative;
    display: flex;

}

.dropdown-submenu a:hover{
    background-color: rgba(0, 0, 0, 0);
}
/* hover 뒤에 다른 selector가 이어지면 앞이 명령의 대상, 뒤에가 style이 수행되고 적용되는 부분 */
/* dropdown-btn 과 dropdown-sumbenu는 둘이 같은 계층이다 그래서 동작 안하는거임 (상하관계가 되어야 동작함)
한칸을 띄운다 = 상하관계가 전제가 되어있다는거임 !!!!!*/
.dropdown:hover .dropdown-submenu {
    display: block;
    position: absolute;
}



div.wrap{
    position: relative;
    display: flex;

}
.bgimg{
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
    margin:auto; 
    min-width:100%;
    min-height:100%;}





    .texts{
    position: absolute;
    bottom: -80%;
    left: 20%;
    color: white;
    
    }





    div.wrap2{
    position: relative;
    display: flex;

}


.image{
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
    margin:auto; 
    min-width:100%;
    min-height:100%;}

    
.image2{
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
    margin:auto; 
    min-width:100%;
    min-height:100%;}


    .res_go{
    position: absolute;
    bottom: 100px;
     left: 50px;
    color: white;
    

    
    }

    .texts2{
    position: absolute;
  bottom: 200px;
  left: 15px;
    color: black;
    
    }
    .texts3{
    position: absolute;
    bottom: 150px;
  left: 15px;
    color: black;
    
    }
    .texts4{
    position: absolute;
    bottom: 100px;
    left: 15px;
    color: black;
    
    }



    .texts5{
    position: absolute;
  top: 300px;
  right: 200px;
    color: black;
    
    }
    .texts6{
    position: absolute;
    top: 350px;
    right: 200px;
    color: black;
    
    }
    .texts7{
    position: absolute;
    top: 400px;
    right: 200px;
    color: black;
    
    }

@media screen and (max-width:540px) {
    .menu{display:none;}
}